@import compass/css3/box-shadow
@import compass/css3/images
@import compass/css3/transition
@import compass/css3/transform

@import partials/media_queries
@import partials/image_2x
@import colors

@import "design/*.png"

$CONTENT_MAX_WIDTH: 960px
$MENU_WIDTH: 180px
$HEADER_HEIGHT: 48px

=calc($property, $expression)
    $experimental-support-for-opera: true
    +experimental-value($property, "calc(#{$expression})")

=clearfix
    &::after
        content: ' '
        display: block
        clear: both

=shadow
    +box-shadow(0 0 5px rgba(black, 0.3))


body > *
    box-sizing: border-box

html
    -webkit-text-size-adjust: 100%
    -ms-text-size-adjust: 100%

body
    background: $COLOR_BG
    font-family: Roboto, Helvetica, Arial, sans-serif
    padding: 0 0.5em 0.5em 0.5em
    max-width: $CONTENT_MAX_WIDTH

    +desktop-and-below
        margin: 0

    +desktop-and-up
        margin: 0 auto

    color: $COLOR_TEXT

h1, h2, h3, h4
    margin-top: 0
    margin-bottom: 0.3em

h1
    font-size: 2rem

h2, h3, h4
    font-weight: normal

ul
    margin: 0
    padding: 0

li
    margin: 0
    padding: 0

a
    text-decoration: none
    color: $COLOR_TEXT

    &:hover
        color: $HOLO_BLUE_ACTIVE

// Header
[role=banner]
    a
        color: $COLOR_TEXT

        &:hover
            color: $HOLO_BLUE_ACTIVE

    .logo
        +mobile-portrait-and-up
            float: left

        +tablet-landscape-and-up
            border-right: 1px solid $COLOR_BORDER

        // Stay on top of menu
        position: relative
        z-index: 5

        line-height: $HEADER_HEIGHT
        height: $HEADER_HEIGHT
        width: $MENU_WIDTH

        .icon
            display: inline-block
            +design-sprite('logo')
            width: design-sprite-width('logo')
            height: design-sprite-height('logo')

        span
            vertical-align: top
            margin-left: 1em
            letter-spacing: 0.2

    .content
        +desktop-and-up
            width: $CONTENT_MAX_WIDTH

        +tablet-portrait-and-up
            padding: 1em 0

        border-bottom: 1px solid $HOLO_BLUE

[role=navigation]
    +clearfix
    line-height: 48px
    position: relative

    a
        display: block

    .main-menu
        margin: 0
        padding: 0
        list-style: none

        li
            +mobile-portrait-and-up
                display: inline-block
                margin-left: 1em

            +mobile-menu-and-below
                display: block
                text-align: center
                clear: both

                &:first-child a
                    border-top: none

                a
                    border-top: 1px solid $COLOR_BORDER

            &.active a
                color: $HOLO_BLUE

    .overflow
        position: absolute
        right: 8px
        display: block
        $default-top: design-sprite-height('icon_more') - ($HEADER_HEIGHT / 2)

        +mobile-portrait-and-up
            top: $default-top
        +mobile-portrait-and-below
            // Approximation for crappy browsers, even though I don't really care.
            top: $default-top - 3 * 16px
            +calc(top, '#{$default-top} - #{$HEADER_HEIGHT} - 1em')

        &:hover
            +shadow
            background: white

        .icon
            +design-sprite('icon_more')
            display: block
            width: design-sprite-width('icon_more')
            height: design-sprite-height('icon_more')

    .overflow-menu
        +transition-timing-function(ease)
        +transition-property(opacity, height)
        +transition-duration(0)

        opacity: 0
        height: 48px
        width: 48px
        // Important, does trigger unfold otherwise when hidden
        overflow: hidden
        z-index: 5

        position: absolute
        right: 0
        top: 0
        // In order to have ::after sit here.
        padding-top: 40px

        +tablet-portrait-and-below
            top: -3 * 16px
            +calc(top, '-#{$HEADER_HEIGHT} - 1em')

        &::before
            // The overlay on top of the overlay icon to
            // overdraw the shadow

            +shadow
            position: absolute
            content: ""
            display: block
            top: 8px
            right: 0.5em

            +design-sprite('icon_more_hover')
            background-color: white
            width: design-sprite-width('icon_more')
            height: design-sprite-height('icon_more')

        &::after
            // Overlay over the bottom shadow
            position: absolute
            content: ""
            display: block
            // ^= Blur spread * 2
            height: 10px
            width: design-sprite-width('icon_more')

            top: design-sprite-height('icon_more') + 5px
            right: 0.5em
            z-index: 10
            background: white

        &:hover
            +transition-duration(0.25s)
            opacity: 1
            // Hard-coded for animations. :( ul height + shadow blur
            // If anymations to height: auto will ever be supported,
            // I will instantly remove this.
            height: 97px + 5px
            width: 248px

        ul
            list-style: none

        li
            &:not(:last-child)
                border-bottom: 1px solid $COLOR_BORDER

        a
            padding: 0 1em

        .inner
            +shadow
            background: white
            margin: 0 0.5em 0.5em 0.5em

#main
    margin-top: 1em

    +tablet-landscape-and-up
        margin-left: $MENU_WIDTH

    .content
        +tablet-landscape-and-up
            padding-left: 1em

    a
        color: $HOLO_BLUE

[role=main]
    min-height: 480px

[role=contentinfo]
    color: $COLOR_TEXT_LIGHT

    p
        margin: 0.25em 0 0 0

    ul
        list-style: none

    li
        font-size: smaller
        display: inline-block

        &:before
            margin-right: 3px
            content: '|'

        &:first-child:before
            margin-right: 0
            content: ''

    .inner
        border-top: 1px solid $COLOR_BORDER

.side-menu
    margin-top: 1em

    +tablet-portrait-and-up
        width: $MENU_WIDTH
        float: left

    ul
        list-style: none

    li
        line-height: 2em

    a
        display: block

    .header
        position: relative

        &.expandable > a::after
            +design-sprite('disclosure')
            width: design-sprite-width('disclosure')
            height: design-sprite-height('disclosure')
            display: block
            content: ""

            position: absolute
            top: 0
            right: 0

        &.expanded
            background: $COLOR_HIGHLIGHT

            > a::after
                +rotate(180deg)

            ul
                display: block
                background: $COLOR_BOX

        &.active > a
            color: $HOLO_BLUE

        > a
            font-weight: 700
            padding: 0 10px

        ul
            display: none

        li
            padding: 0 10px

            &:first-child
                border-top: 1px solid $COLOR_BG
