// Styles just for the index page.
// Could be inlined.

@import compass/css3

=social-link($name, $color)
    .#{$name}
        +design-sprite($name)
        background-color: $color

        &:hover
            background-color: lighten($color, 10%)

// Namespaced for the site.
#s-index
    .me
        +border-radius(50%)
        +box-shadow(0 0 5px $COLOR_BORDER)
        width: 40%
        display: inline-block

    .saying-hi
        padding-bottom: 1em
        margin-bottom: 1em

        hgroup
            display: inline-block
            width: 40%
            // Tried my look with flexbox, but centering there
            // is messed up atm.
            margin:
                top: 5%
                left: 5%

            vertical-align: top

    .social
        margin-top: 1em
        list-style-type: none
        text-align: center

        a
            display: block
            width: 4em
            height: 4em
            background: #ccc

        li
            display: inline-block
            padding-right: 1em

        +social-link('github', #4183C4)
        +social-link('gplus', #D14836)
        +social-link('twitter', #39A9E0)
