extends layout

block vars
    - var title = 'Changelog'
    - var active = 'changelog'

block content
    .content#s-changelog
        :markdown
            # Changelog

            ## v0.2.0-beta1 (2013-08-05)
            - Redid the projects page
            - Killed a lot of JavaScript

            ## v0.1.0 (2013-03-31)

            - Added first few projects.
            - Still misses the menu functionality.
