extends layout

block vars
    - var title = 'Impress'
    - var active = 'impress'

block content
    section(role='main')
        .content#s-projects
            h1 Impress

            address
                | Pascal Hartig<br>
                | London<br>

                a(href='mailto:phartig@rdrei.net') phartig@rdrei.net
