extends layout

block content
    .content
        h1 'Allo, 'Allo! Passy.me
        p You now have
        p AWESOME STUFF
        p installed.
        h3 Enjoy coding! - Yeoman

    .content
        p Hello World!
