extends layout

block content
    section(role='main', ng-controller='IndexCtrl')
        #s-index
            a(id='intro')
            .saying-hi
                img.me(src='/images/passy.jpg', alt='Pascal Hartig', passy-onkonami='doMagic($element)')
                .headings
                    h1 Hi, I'm Pascal Hartig.
                    h2
                        | I'm an Engineer at Twitter <span class="superamp">&amp;</span>
                        | Open Source Addict.

            a(id='social')
            ul.social
                li
                    a.github(href='/g')
                li
                    a.twitter(href='/@')
                li
                    a.gplus(href='/+')

            a(id='about')
            article.prose
                p
                    | I'm Pascal and I love building stuff. My favorite platforms
                    | are the web and mobile. On mobile my prefered
                    | environment is Android, which I built several native apps for.
                    | On the web, I like building rich MV*-based applications
                    | with Backbone, AngularJS, Ember, Flight or whatever fits best.
                    | For backend work, I've been using Python for as long as I
                    | can think, even though I think Haskell is super rad.

                p
                    | I spend a lot of my free time doing Open Source. Two of my
                    | favorite projects I am working on are <a
                    | href="http://todomvc.com">TodoMVC</a>, a learning resource
                    | helping you select the right MV* framework, and <a
                    | href="http://yeoman.io">Yeoman</a>, a modern workflow for
                    | modern webapps. I also take care of some of my own
                    | <a href="/projects.html">projects</a>.
