!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Pascal Hartig | passy.me
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='stylesheet', href='styles/main.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Roboto:300,400,700')
    block styles
    link(rel='author', href='/humans.txt')

    // build:js scripts/vendor/modernizr.js
    script(src='components/modernizr/modernizr.js')
    // endbuild
  body
    .container
      header(role='banner')
        .content

          a.nolink.logo(href='/', title='passy.me')
            .icon
            span passy.me

          nav(role='navigation')
            ul.main-menu
              li.active
                a(href='/about') About

              li
                a(href='/projects') Projects

              li
                a(href='/blog') Blog

            div.overflow(href='#')
              span.icon

            div.overflow-menu
              div.top
              div.mid
                ul
                  li
                    a(href='/about') About

                  li
                    a(href='/changelog') Changelog
              div.bottom

      aside.side-menu
        ul
          li.header.expanded.active
            a(href='#') Getting Started

            ul
              li
                a(href='#') Creative Vision
              li
                a(href='#') Creative Vision
              li
                a(href='#') Creative Vision
              li
                a(href='#') Creative Vision

          li.header
            a(href='#') Style

          li.header
            a(href='#') Other Point

      section#main
        div(role='main')
          block content

        footer(role='contentinfo').content
          .inner
            small
              p &copy; 2013 by Pascal Hartig.
              p.
                Except as noted, content is licensed under
                <a href='http://creativecommons.org/licenses/by/3.0/'>Creative
                Commons Attribution 3.0</a>.
                Views expressed here are my own and do not reflect those of my
                employer.

            nav.footer
              ul
                li
                  a(href='/impress') Impress

                li
                  a(href='http://creativecommons.org/licenses/by/3.0/') Content License

    script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-587894-17', 'passy.me');
      ga('send', 'pageview');

    // build:js scripts/main.js
    script(src='components/jquery/jquery.js')
    script(src='scripts/main.js')
    // endbuild
