!!! 5
block vars
  - var title = 'Pascal Hartig'
  - var active = 'about'

mixin menu-entry(href, slug, title)
  - if (slug == active)
    li.active
      a(href=href)= title
  - else
    li
      a(href=href)= title


html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title #{title} | passy.me
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='stylesheet', href='styles/main.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Roboto:300,400,700')
    block styles
    link(rel='author', href='/humans.txt')

  body(ng-app)
    .container
      header(role='banner')
        .content

          a.nolink.logo(href='/', title='passy.me')
            .icon
            span passy.me

          nav(role='navigation')
            ul.main-menu
              mixin menu-entry('/', 'about', 'About')
              mixin menu-entry('/projects.html', 'projects', 'Projects')

              li
                a(href='https://weluse.de/blog') Blog

            div.overflow(href='#')
              span.icon

            div.overflow-menu
              div.inner
                ul
                  li
                    a(href='mailto:phartig@rdrei.net') Feedback

                  li
                    a(href='/changelog.html') Changelog

                  li
                    a(href='https://github.com/passy/passy.me') Source

      aside.side-menu
        block menu

      section(role='main')
        block content

        footer(role='contentinfo').content
          .inner
            small
              p &copy; 2013 by Pascal Hartig.
              p.
                Except as noted, content is licensed under
                <a href='http://creativecommons.org/licenses/by/3.0/'>Creative
                Commons Attribution 3.0</a>.
                Views expressed here are my own and do not reflect those of my
                employer.

            nav.footer
              ul
                li
                  a(href='/impress.html') Impress

                li
                  a(href='http://creativecommons.org/licenses/by/3.0/') Content License

    script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-587894-17', 'passy.me');
      ga('send', 'pageview');

    // build:js(app) scripts/main.js
    script(src='components/angular/angular.js')
    script(src='scripts/main.js')
    // endbuild
