doctype 5
block vars
  - var title = 'Pascal Hartig'
  - var active = 'about'

mixin menu-entry(href, slug, title)
  - if (slug == active)
    li.active
      a(href=href)= title
  - else
    li
      a(href=href)= title


html(lang='en', ng-app='passy')
  head
    meta(charset='utf-8')
    title #{title} | passy.me
    meta(name='description', content='Pascal Hartig - Frontend Engineer')
    meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1')
    meta(property='twitter:account_id', content='1494952777')
    link(rel='stylesheet', href='styles/main.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Roboto:400,500,700')
    block styles
    link(rel='author', href='/humans.txt')

  body(passy-konami)
    .container
      header(role='banner')
        .content

          a.logo(href='/', title='passy.me')
            .logo__icon
            span.logo__text passy.me

          nav(role='navigation')
            ul.main-menu
              mixin menu-entry('/', 'about', 'About')
              mixin menu-entry('/projects.html', 'projects', 'Projects')

              li
                a(href='https://passy.svbtle.com/') Blog

            div.overflow
              span.icon

            div.overflow__menu
              div.inner
                ul
                  li
                    a(href='mailto:phartig@rdrei.net') Feedback

                  li
                    a(href='/changelog.html') Changelog

                  li
                    a(href='https://github.com/passy/passy.me') Source

      block content

      footer(role='contentinfo').content
        .inner
          small
            p &copy; 2013 by Pascal Hartig.
            p.
              Except as noted, content is licensed under
              <a href='http://creativecommons.org/licenses/by/3.0/'>Creative
              Commons Attribution 3.0</a>.
              Views expressed here are my own and do not reflect those of my
              employer.

          nav.footer
            ul
              li
                a(href='/impress.html', target='_self') Impress

              li
                a(href='http://creativecommons.org/licenses/by/3.0/') Content License

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-587894-17', 'passy.me');
      ga('send', 'pageview');

    div.
        <!-- bower -->
        <script src="bower_components/jquery/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <!-- endbower -->

    // build:js(app) scripts/main.js
    script(src='scripts/main.js')
    script(src='scripts/controllers/index.js')
    script(src='scripts/directives/expandableTiles.js')
    script(src='scripts/directives/konami.js')
    script(src='bower_components/angular-jquery/dist/angular-jquery.js')
    script(src='bower_components/angular-bootstrap-affix/dist/angular-bootstrap-affix.js')
    // endbuild
    script(src='//d1agz031tafz8n.cloudfront.net/thedaywefightback.js/widget.min.js', async)
