extends layout

block vars
    - var title = 'Projects'
    - var active = 'projects'

block content
    .content#s-projects
        h1 Projects
        p
            | You'll see some projects of me here soonish. In the mean time,
            | enjoy this furious kitten.

        img(src='http://i.imgur.com/SvNNJBA.jpg', alt='Furious kitten is furious.', height='400px')
