section(role='main')
    .content#s-changelog
        :markdown
            # Changelog

            ## v0.1.0 (2013-03-31)

            - Added first few projects.
            - Still misses the menu functionality.
